In [1]:
import graphlab
import pandas as pd

In [2]:
sales = graphlab.SFrame('../input/home_data.sframe')

This non-commercial license of GraphLab Create for academic use is assigned to a.vargas.pina@gmail.com and will expire on June 05, 2021.

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: /tmp/graphlab_server_1591776134.log

In [3]:
sales.export_csv("../input/home_data.csv")
salespd=pd.read_csv("../input/home_data.csv")

In [7]:
salespd.columns

Index([u'id', u'date', u'price', u'bedrooms', u'bathrooms', u'sqft_living',
       u'sqft_lot', u'floors', u'waterfront', u'view', u'condition', u'grade',
       u'sqft_above', u'sqft_basement', u'yr_built', u'yr_renovated',
       u'zipcode', u'lat', u'long', u'sqft_living15', u'sqft_lot15'],
      dtype='object')

# Selection and summary statistics: We found the zip code with the highest average house price. What is the average house price of that zip code?

In [18]:
highest_average=salespd.groupby("zipcode").mean()

In [19]:
highest_average.price.max()

2160606.6

# Filtering data: What fraction of the houses have living space between 2000 sq.ft. and 4000 sq.ft.?

In [34]:
# 1st way
between_df = salespd[(salespd['sqft_living'] >= 2000) & (salespd['sqft_living'] <= 4000)]

In [26]:
between_df.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,9.221000e+03,9.221000e+03,9221.000000,9221.000000,9221.000000,9.221000e+03,9221.000000,9221.000000,9221.000000,9221.000000,9221.000000,9221.000000,9221.000000,9221.000000,9221.000000,9221.000000,9221.000000,9221.000000,9221.000000,9221.000000
mean,4.637049e+09,6.511986e+05,3.829086,2.513990,2663.281314,1.847709e+04,1.640549,0.009435,0.338141,3.393450,8.223295,2241.422514,421.858801,1978.472400,102.032318,98069.281314,47.563068,-122.184519,2355.442034,15434.426526
std,2.894644e+09,3.122735e+05,0.805259,0.535565,504.000449,4.533898e+04,0.490678,0.096680,0.905375,0.632847,1.000501,674.688271,501.551358,27.425217,439.810063,50.902800,0.135607,0.139510,596.482231,30343.765114
min,1.000102e+06,1.942500e+05,0.000000,0.000000,2000.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,5.000000,810.000000,0.000000,1900.000000,0.000000,98001.000000,47.162200,-122.519000,399.000000,1062.000000
25%,2.126059e+09,4.350000e+05,3.000000,2.250000,2240.000000,5.800000e+03,1.000000,0.000000,0.000000,3.000000,8.000000,1680.000000,0.000000,1962.000000,0.000000,98030.000000,47.478800,-122.296000,1940.000000,5746.000000
50%,4.019301e+09,5.950000e+05,4.000000,2.500000,2550.000000,8.335000e+03,2.000000,0.000000,0.000000,3.000000,8.000000,2220.000000,0.000000,1984.000000,0.000000,98056.000000,47.577500,-122.188000,2310.000000,8140.000000
75%,7.504011e+09,7.800000e+05,4.000000,2.750000,3000.000000,1.276000e+04,2.000000,0.000000,0.000000,4.000000,9.000000,2690.000000,861.000000,2001.000000,0.000000,98112.000000,47.673700,-122.089000,2730.000000,11568.000000
max,9.839301e+09,3.100000e+06,11.000000,5.750000,4000.000000,1.074220e+06,3.500000,1.000000,4.000000,5.000000,12.000000,4000.000000,2000.000000,2015.000000,2015.000000,98199.000000,47.777500,-121.321000,5790.000000,560617.000000

In [27]:
salespd.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,4.580302e+09,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,2.876566e+09,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651360e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

In [33]:
9.221000e+03/2.161300e+04 	#dividing counts

0.4266413732475825

In [35]:
# 2nd way
salespd[(salespd['sqft_living'] >= 2000) & (salespd['sqft_living'] <= 4000)].count()/salespd.count()

id               0.426641
date             0.426641
price            0.426641
bedrooms         0.426641
bathrooms        0.426641
sqft_living      0.426641
sqft_lot         0.426641
floors           0.426641
waterfront       0.426641
view             0.426641
condition        0.426641
grade            0.426641
sqft_above       0.426641
sqft_basement    0.426641
yr_built         0.426641
yr_renovated     0.426641
zipcode          0.426641
lat              0.426641
long             0.426641
sqft_living15    0.426641
sqft_lot15       0.426641
dtype: float64

# Building a regression model with several more features: What is the difference in RMSE between the model trained with my_features and the one trained with advanced_features?

In [36]:
# in c1w2